<div class="content">
	<div class="main-header">
		<h2>Attendance</h2>
			<em>Manage attendance with the following list of registrations per locality</em>
	</div>
  <h2>Registrations: <%= @registrations.count %></h2>

<% @event_localities.each do |ev_loc| %>
    <div class="col-md-12">
      <div id="loc_<%= ev_loc.locality.id %>" class="widget widget-table">
        <div class="widget-header">
        <h3><i class="fa fa-table"></i><%= ev_loc.locality_city %></h3>
        </div>
        <div class="widget-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr style="font: bold">
                  <td>Name</td>
                  <td>Role</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <% ev_loc.registrations.each do |reg| %>
                  <tr id="user_<%= reg.user.id %>">
                    <td><%= link_to "#{reg.user.name}", event_attendance_path(@event,reg) %></td>
                    <td><%= reg.user.role %></td>
                    <td><%= link_to 'Edit', edit_event_attendance_path(@event,reg), class: 'btn btn-primary' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
