<tr>
	<% binding.pry %>
	<td><%= "Irvine" %></td>
	<td><%= @stats["Irvine"]["grand_total"] %></td>
	<td><%= @stats["Irvine"]["total_yp"] %></td>
	<td><%= @stats["Irvine"]["total_serving_ones"] %></td>
	<td><%= @stats["Irvine"]["total_trainees"] %></td>
	<td><%= @stats["Irvine"]["total_helpers"] %></td>
	<td><%= @stats["Irvine"]["amount_due"] %></td>
	<td><%= @stats["Irvine"]["actual_grand_total"] %></td>
	<td><%= @stats["Irvine"]["actual_total_yp"] %></td>
	<td><%= @stats["Irvine"]["actual_total_serving_ones"] %></td>
	<td><%= @stats["Irvine"]["actual_total_trainees"] %></td>
	<td><%= @stats["Irvine"]["actual_total_helpers"] %></td>
	<td><%= @stats["Irvine"]["actual_amount_paid"] %></td>
	<td><%= @stats["Irvine"]["balance"] %></td>
</tr>
