<% if @participating_localities.count > 0 %>
	<% @participating_localities.each do |loc| %>
    <% if display_attendance_summary_for?(loc) %>
      <tr>
        <td><%= link_to loc.city, event_locality_path(@event, loc) %></td>
        <td><%= @stats["#{loc.city}"]['grand_total'] %></td>
        <td><%= @stats["#{loc.city}"]['total_yp'] %></td>
        <td><%= @stats["#{loc.city}"]['total_serving_ones'] %></td>
        <td><%= @stats["#{loc.city}"]['total_trainees'] %></td>
        <td><%= @stats["#{loc.city}"]['total_helpers'] %></td>
        <td><%= @stats["#{loc.city}"]['yp_so_ratio'] %></td>
        <td><%= number_to_currency(@stats["#{loc.city}"]['amount_due']) %></td>
        <td><%= @stats["#{loc.city}"]['actual_grand_total'] %></td>
        <td><%= @stats["#{loc.city}"]['actual_total_yp'] %></td>
        <td><%= @stats["#{loc.city}"]['actual_total_serving_ones'] %></td>
        <td><%= @stats["#{loc.city}"]['actual_total_trainees'] %></td>
        <td><%= @stats["#{loc.city}"]['actual_total_helpers'] %></td>
        <td><%= number_to_currency(@stats["#{loc.city}"]['actual_amount_paid']) %></td>
        <td><%= style_balance(@stats["#{loc.city}"]['balance']) %></td>
      </tr>
    <% end %>
  <% end %>
<% else %>
	<tr>
		<td colspan="14" class="text-center">There are no registrations for this event.</td>
	</tr>
<% end %>
