= form_for @locality, class: 'form-horizontal' do |f|
  .form-group
    = f.label :city, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :city, autofocus: true, class: 'form-control'
  .form-group
    = f.label :state, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :state, class: 'form-control'
  .form-group
    = f.submit 'Submit', class: 'btn btn-primary pull-right'
