%section.content-header
  %h1
    #{locality.city}, #{locality.state}
    %a.btn.btn-flat.btn-primary{href: edit_locality_path(@locality)} Edit
%section.content
  .row
    .col-md-6
      .box
        .box-header.with-border
          %h1.box-title Contacts
        .box-body
          %table.table.table-bordered.table-hover.table-striped
            %thead
              %tr
                %th Name
                %th Email
                %th Cellphone
            %tbody
              - contacts.each do |contact|
                - @contact = contact.object
                %tr
                  %td= link_to contact.name, user_path(@contact)
                  %td= contact.email
                  %td= contact.cell_phone
      .box
        .box-header.with-border
          %h1.box-title Users
        .box-body
          %table.table.table-bordered.table-hover.table-striped
            %thead
              %tr
                %th Name
                %th Email
                %th Cellphone
            %tbody
              - users.each do |user|
                - @user = user.object
                %tr{class: "#{user.background_check_date_row_class}"}
                  %td= link_to user.name, user_path(@user)
                  %td= user.email
                  %td= user.cell_phone
