<div class="content">
	<div class="row">
	<div class="main-header">
		<h2><%= @locality.city %>, <%= @locality.state_abbrv %></h2>
		<em></em>
	</div>
</div>
<div class="row">
	<!-- locality info -->
	<div class="col-md-8">
		<div class="widget">
			<div class="widget-header">
				<h3><i class="fa fa-calendar-o"></i>Locality Details</h3>
			</div>
			<div class="widget-content">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th class="text-right">Contact</th>
							<th><center>Name</center></th>
							<th><center>Email</center></th>
							<th><center>Cellphone</center></th>
							<th></th>
					</thead>
					<tbody>
						<tr>
							<td class="text-right"><strong>Locality:</strong></td>
							<% unless @locality.contact_id == nil %>
								<td><%= User.find(@locality.contact_id).name %></td>
								<td><%= mail_to User.find(@locality.contact_id).email %></td>
								<td>[cell]</td>
								<td>
									<%= link_to 'Edit', edit_locality_path(@locality) %>
								</td>
							<% else %>
								<td><center>--<center></td>
								<td><center>--<center></td>
								<td><center>--<center></td>
								<td>
									<%= link_to 'Add', edit_locality_path(@locality) %>
								</td>
							<% end %>
						</tr>
						<tr>
							<td class="text-right"><strong>Lodging:</strong></td>
							<% unless @locality.contact_id == nil %>
								<td><%= User.find(@locality.contact_id).name %></td>
								<td><%= mail_to User.find(@locality.contact_id).email %></td>
								<td>[cell]</td>
								<td>
									<% if policy(@locality).edit? %>
										<%= link_to 'Edit', edit_locality_path(@locality.contact_id) %>
									<% end %>
								</td>
							<% else %>
								<td><center>--<center></td>
								<td><center>--<center></td>
								<td><center>--<center></td>
								<td>
									<%= link_to 'Add', edit_locality_path(@locality) %>
								</td>
							<% end %>
						</tr>
					</tbody>
				</table>
				<%= link_to "Back", localities_path, class: 'btn btn-default' %>&nbsp;
				<p id="notice"><%= notice %></p>
			</div>
			<div class="widget-footer">	
			</div>
		</div>
	</div>
</div>
</div><!-- End locality info -->
