                <tr class="odd">
                  <td class=" sorting_1">
                    <!-- Hosp. name -->
                    <%= event.hospitalities.first.name %>

                  </td>
                  <td class=" ">
                    <!-- Hosp. contact home phone -->
                    <%= event.hospitalities.first.contact_person_home_phone %>

                  </td>
                  <td class=" ">
                    <!-- Hosp. contact cell -->
                    <%= event.hospitalities.first.contact_person_cell_phone %>

                  </td>
                  <td class=" ">
                    <!-- Hosp. address -->
                    <%= event.hospitalities.first.address %>

                  </td>
                  <td class=" ">
                    <!-- min guests -->
                    <%= event.hospitalities.first.display_min_capacity %>

                  </td> 
                  <td class=" ">
                    <!-- max guests -->
                    <%= event.hospitalities.first.display_max_capacity %>

                  </td>
                  <td class=" ">
                    <!-- assigned guests -->
                     [--] 

                  </td> 
                </tr>
