<div class="content">
	<div class="main-header">
		<h2>HOSPITALITY</H2>
		<em>list of available hospitality locations for conterences and retreats</em>
	</div>

	<div class="col-md-12">
		<div class="widget widget-table">
			<div class="widget-header">
				<h3><i class="fa fa-table"></i></h3>
			</div>
			<div class="widget-content">
				<table class="table table-striped">
					<thead>
						<tr style="font: bold">
							<th>Name</th>
							<th>Type</th>
							<th>Conact Person</th>
							<th>Locality</th>
							<th>Max Cap.</th>
							<th>Address</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% if @hospitalities.all.count > 0 %>
							<% @hospitalities.each do |hospitality| %>
								<tr>
									<td><%= link_to hospitality.name, hospitality %></td>
									<td><%= hospitality.hospitality_type %></td>
									<td><%= User.find(hospitality.contact_person_id).name %></td>
									<td><%= Locality.find(hospitality.locality_id).city %></td> 
									<td><%= hospitality.max_capacity %></td> 
									<td><%= hospitality.display_address %></td>

										<td><%= link_to 'Edit', edit_hospitality_path(hospitality) %>&nbsp;
										<!--%= link_to 'Delete',event_hospitality_path(hospitality), method: :delete, data: { confirm: 'Are you sure?' } %-->
									</td>
								</tr>
							<% end %>
						<% else %>
							<tr><td colspan=7><center>No Hospitalities in the database...</center></td></tr>
						<% end %>
					<tbody>
				</table>

				<%= link_to new_hospitality_path, class: 'btn btn-default' do %>
					<%= content_tag(:i, '', class: "fa fa-plus-square") %>
					New Hospitality
				<% end %>

			</div>
		</div>
	</div>
</div>

