<tr id="event_hospitality_<%= @hospitality.id %>" class="odd">
    <td class=" sorting_1">
      <!-- Hosp. name -->
      <%= @hospitality.lodging.name %>

    </td>
    <td class=" ">
      <!-- Hosp. contact home phone -->
      <%= @hospitality.lodging.contact_person_home_phone %>

    </td>
    <td class=" ">
      <!-- Hosp. contact cell -->
      <%= @hospitality.lodging.contact_person_cell_phone %>

    </td>
    <td class=" ">
      <!-- Hosp. address -->
      <%= @hospitality.lodging.address %>

    </td>
    <td class=" ">
      <!-- min guests -->
      <%= @hospitality.lodging.display_min_capacity %>

    </td> 
    <td class=" ">
      <!-- max guests -->
      <%= @hospitality.lodging.display_max_capacity %>

    </td>
    <td class=" ">
      <!-- assigned guests -->
       [--] 

    </td> 
    <td class= " ">
      <%- # Update this remove button or create an assigned_hospitality partial to use
          # when removing assigned hospitalities from the table; currently, you have to 
          # refresh before the 'remove' link works b/c of this link to needing
          # ':id' for hospitalities/_hospitality partial and ':lodging_id' when it is now
          # used for assigned_lodgings_as_hospitality -%>
      <%# <%= link_to 'remove', hospitality_remove_path(event_id: @event, id: @hospitality), method: :delete, data: { confirm: 'Are your sure?' }, remote: true %>
    </td>
  </tr>
