<tr id="event_hospitality_<%= @hospitality.id %>" class="odd">
    <td class=" sorting_1">
      <!-- Hosp. name -->
      <%= @hospitality.lodging.name %>

    </td>
    <td class=" ">
      <!-- Hosp. contact home phone -->
      <%= @hospitality.lodging.contact_person_home_phone %>

    </td>
    <td class=" ">
      <!-- Hosp. contact cell -->
      <%= @hospitality.lodging.contact_person_cell_phone %>

    </td>
    <td class=" ">
      <!-- Hosp. address -->
      <%= @hospitality.lodging.address %>

    </td>
    <td class=" ">
      <!-- min guests -->
      <%= @hospitality.lodging.display_min_capacity %>

    </td> 
    <td class=" ">
      <!-- max guests -->
      <%= @hospitality.lodging.display_max_capacity %>

    </td>
    <td class=" ">
      <!-- assigned guests -->
       [--] 

    </td> 
    <td class= " ">
      <%= link_to 'remove', hospitality_remove_path(event_id: @event,id: @hospitality), method: :delete, data: { confirm: 'Are your sure?' }, remote: true %>
    </td>
  </tr>
