<h1>Add Hospitalities</h1>
<%= form_tag  do |f| %>
  <%= f.simple_fields_for :lodgings do |l| %>
    <%= l.association :lodgings, as: :check_boxes, collection: @lodgings, label: false %>
  <% end %>
  <%= f.submit :submit %>
<% end %>
<%# <%= simple_form_for :hospitalities, { url: add_multiple_event_hospitalities_path } do |f| %>
<%#   <% @lodgings.each do |lodging| %>
<%#     <%= simple_fields_for "lodgings[]", lodging do |lf| %>
<%#       <%= lf.input :add, as: :checkbox %>
<%#       <%= lf.submit :submit %>
<%#     <% end %>
<%#   <% end %>
<%# <% end %>
<% @hospitalities.each do |h| %>
  <ul>
    <li><%= h.name %></li>
  </ul>
<% end %>

