<div class="content">
  <div class="main-header">
    <h2>Manage Hospitalities</h2>
    <em>Add or remove Lodgings that are available as hospitality for "#{ @event.title }"</em>
  </div>

  <div class="col-md-12">
    <div class="widget widge-table">
      <div class="widget-header">
        <h3><i class="fa fa-table"> <strong>Hospitality List</strong></i></h3>
      </div>
      <div class="widget-content">
        <table class="table table-striped">
          <thead>
            <tr stle="font: bold">
              <td></td>
              <td>Hospitality</td>
              <td>Address</td>
              <td>Type</td>
              <td>Min / Max Capacity</td>
              <td>Contact Person</td>
            </tr>
          </thead>
          <tbody>
            <%= form_tag remove_event_hospitalities_path, method: :put do %>
              <% @hospitalities.each do |h| %>
                <tr>
                  <td><%= check_box_tag "hospitality_lodging_ids[]", h.lodging.id %></td>
                  <td><%= h.name %></td>
                  <td><%= full_address(h.lodging) %></td>
                  <td><%= Lodging::LODGING_TYPE[h.lodging.lodging_type.to_i] %></td>
                  <td><%= min_max_capacity(h.lodging) %></td></td>
                  <td><%= h.lodging.contact_person.name %></td> 
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= submit_tag "Remove Hospitalities", class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Back', event_path(@event), class: 'btn btn-default btn-sm' %>
      </div>
    </div>
  </div>

  <br /><br />

  <div class="col-md-12">
    <div class="widget widge-table">
      <div class="widget-header">
        <h3><i class="fa fa-table"> <strong>Available Lodgings</strong></i></h3>
      </div>
      <div class="widget-content">
        <table class="table table-striped">
          <thead>
            <tr stle="font: bold">
              <td></td>
              <td>Name</td>
              <td>Address</td>
              <td>Type</td>
              <td>Min / Max Capacity</td>
              <td>Contact Person</td>
            </tr>
          </thead>
          <tbody>
            <%= form_tag add_event_hospitalities_path, methd: :put do %>
              <% @lodgings.each do |l| %>
                <tr>
                  <td><%= check_box_tag "lodging_ids[]", l.id %></td>
                  <td><%= l.name %></td>
                  <td><%= full_address(l) %></td>
                  <td><%= Lodging::LODGING_TYPE[l.lodging_type.to_i] %></td>
                  <td><%= min_max_capacity(l) %></td>
                  <td><%= l.contact_person.name %></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
          <%= submit_tag 'Add Hospitalities', class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Back', event_path(@event), class: 'btn btn-default btn-sm' %>
      </div>
    </div>
  </div>
</div>


