.content
  .main-header
    %h2 Locality - Hospitality Assignment
    %em Assign available hospitalities to localities
  .col-md-6
    .widget.widget-table
      .widget-header
        %h3
          %i.fa.fa-table>
          Available Hospitalities
      = form_tag assign_event_hospitality_locality_assignments_path(@event) do |f|
        .widget-content
          %table.table.table-striped
            %thead
              %tr{:style => "font: bold"}
                %td Lodging
                %td Min
                %td Max
                %td Assigned to
            %tbody
              - @event.hospitalities.each  do |hosp|
                %tr{ id: "hospitality_#{hosp.id}" }
                  %td= hosp.name
                  %td= hosp.min_capacity
                  %td= hosp.max_capacity
                  %td
                    = select_tag("hospitality_locality_ids[#{ hosp.id }][]",
                      options_from_collection_for_select(@event.localities, 'id', 'city', selected: selected_locality(hosp)),
                      { prompt: '--' })
        .panel-footer
          = submit_tag "Update Assignments", class: 'btn btn-primary btn-sm'
          = link_to 'Back', event_path(@event), class: 'btn btn-default btn-sm'
  .col-md-2
  .col-md-5
    .widget.widget-table
      .widget-header
        %h3
          %i.fa.fa-table>
          Beds Allocated
      .widget-content
        %table.table.table-striped
          %thead
            %tr{:style => "font: bold"}
              %td Locality
              %td Registered Saints
              %td Beds Allocated
          %tbody#participating_localities_content
            - @event.localities.each do |loc|
              %tr
                %td
                  = loc.city
                  , #{loc.state_abbrv}
                %td= @stats["#{loc.city}"]['grand_total']
                %td= @event.beds_assigned_to_locality[loc.city]
      .panel-footer
