.widget.widget-table
  .widget-header
    %h3
      %i.fa.fa-table
        %strong= title
  .widget-content
    .table-responsive
      %table.table.table-bordered.table-striped.table-hover
        %thead
          %tr{:style => "font: bold"}
            %td Name
            %td State
            %td Contact
            %td
        %tbody
          - if localities.present?
            - localities.each do |locality|
              %tr
                %td= link_to locality.city, locality_path(locality)
                %td= locality.state_abbrv
                %td= locality.contact_with_email
                %td
                  - if button_action == 'show' and policy(locality).show?
                    = link_to 'Manage', event_locality_path(event, locality), class: 'btn btn-default btn-sm'
                  - elsif button_action == 'new' and policy(EventLocality.new(event: event, locality: locality)).new? and event.registration_open?
                    = link_to 'Manage', new_event_locality_path(event, locality), class: 'btn btn-default btn-sm'
