.content
  .main-header
    %h2 Event Localities
    %em
      manage localities registered for #{event.name}
  .col-md-12
    .widget.widget-table
      .widget-header
        %h3
          %i.fa.fa-table
            %strong Localities participating in event
      .widget-content
        .table-responsive
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr{:style => "font: bold"}
                %td Name
                %td State
            %tbody
              - event_localities.each do |el|
                %tr
                  %td= link_to el.locality_city, event_locality_path(@event, el.locality)
                  %td= el.locality_state
              - if event_localities.empty?
                %tr
                  %td{colspan: "2"}
                    %center No localities participating.
  .col-md-12
    .widget.widget-table
      .widget-header
        %h3
          %i.fa.fa-table
            %strong Localities not participating in event
      .widget-content
        .table-responsive
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr{:style => "font: bold"}
                %td Name
                %td State
                %td
            %tbody
              - other_localities.each do |locality|
                %tr
                  %td= locality.city
                  %td= locality.state
                  %td
                    - if event.registration_open?
                      = link_to 'Add', new_event_locality_path(@event, locality), class: 'btn btn-default btn-sm'
  .col-md-12
    = link_to 'Back', event_path(@event), class: 'btn btn-default'
