<div class="content">
  <div class="main-header">
    <h2>Event Localities</h2>
    <em>manage localities registered for <%= @event.title %></em> 
  </div>

  <div class="col-md-12">
    <div class="widget widget-table">
      <div class="widget-header">
        <h3><i class="fa fa-table"> <strong>Localities participating in event</strong></i></h3>
      </div>
      <div class="widget-content">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr style="font: bold">
                <td>Name</td>
                <td>State</td>
                <td>Contact</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <% if @event_localities.all.count > 0 %>
                <% @event_localities.each do |el| %>
                  <tr>
                    <td><%= link_to el.city, locality_path(el) %></td>
                    <td><%= el.state_abbrv %>
                    <td><%= el.contact_with_email %>
                    <td>
                      <% if policy(Locality.all).index? %>
                        <%= link_to 'Manage', event_locality_path(@event, el), class: 'btn btn-default btn-sm' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr><td colspan=4><center>There are no localities participating yet...</center></td></tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="widget widget-table">
      <div class="widget-header">
        <h3><i class="fa fa-table"> <strong>Localities</strong></i></h3>
      </div>
      <div class="widget-content">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr style="font: bold">
                <td>Name</td>
                <td>State</td>
                <td>Contact</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            <% if @localities.count > 0 %>
              <% @localities.each do |locality| %>
              <tr>
                <td><%= link_to locality.city, locality_path(locality) %></td>
                <td><%= locality.state_abbrv %>
                <td><%= locality.contact_with_email %>
                <td>
                  <% if policy(Locality.all).index? && @event.registration_open? %>
                    <%= link_to 'Manage', new_event_locality_path(@event,locality_id: locality), class: 'btn btn-default btn-sm' %>
                  <% end %>
                </td>
              </tr>
              <% end %>
              <% else %>
                  <tr><td colspan=4><center>No Localities have been entered yet...</center></td></tr>
              <% end %>
                <tbody>
              </table>
            </div>

            <% if policy(Locality.new).new? %>
              <%= link_to 'Back', dashboard_index_path, class: 'btn btn-default' %>
            <%= link_to new_locality_path, class: 'btn btn-primary' do %>
              <%= content_tag(:i, '', class: "fa fa-plus-square") %>
            New Locality
          <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
