%section.content-header
  %h1 Create Registrations
%section.content
  .row
    .col-md-6
      .box
        .box-body
          = form_for @event_locality, class: 'form-horizontal' do |f|
            %table.table.table-bordered.table-hover.table-striped
              %thead
                %tr
                  %th
                  %th Name
                  %th Age
              %tbody
                = hidden_field_tag 'locality_id', event_locality.locality_id
                - all_locality_users.each do |user|
                  - @user = user.object
                  %tr{id: "user_#{@user.id}", class: "#{user.background_check_date_row_class}"}
                    %td= check_box_tag 'locality_user_ids[]', @user.id
                    %td= user.name
                    %td= user.age
            = f.submit 'Submit', class: 'btn btn-primary pull-right'
