<div class="content">
	<div class="main-header">
    <h2>The Church in <%= @locality.city %></h2>
		<em>Registrations for <%= @event.title %></em>
	</div>
	<br />
	<div class="col-md-8">
		<div class="widget widget-table">
      <div class="widget-header">
        <h3><i class="fa fa-edit"></i>Local Saints</h3>
      </div>
    <%= form_for(@event_locality) do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation" class="alert alert-danger alert-dismissable">
          <h4><strong>
              <%= pluralize(@event.errors.count, "error") %></strong>
          &nbsp;prohibited these registrations from being saved:</h4>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
			<div class="widget-content">
        <table class="table table-striped">
          <thead>
            <tr style="font: bold">
              <td></td>
              <td>Name</td>
              <td>Age</td>
            </tr>
          </thead>
          <tbody>
            <%= hidden_field_tag 'locality_id', @locality.id %>
            <% @locality.users.each do |user| %>
              <tr id= "user_#{ user.id }" %>
                <td><%= check_box_tag "locality_user_ids[]", user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.age %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
			</div>
      <div class="panel-footer">
        <%= f.submit "Register Saints", class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Back', event_localities_path(@event), class: 'btn btn-default btn-sm' %>
    <% end %>
		</div>
	</div>
</div>
