.content
  .row
    .main-header
      %h2
        The Church in #{@locality.city}
      %em
        Participation details for #{@event.title}
  .row
    .col-md-6
      = link_to 'Back', event_path(@event), class: 'btn btn-default btn-sm'
    .col-md-6
      %strong
        Registration will close on: #{format_date(@event.registration_close_date)}
      %br/
      %br/
  .row
    .col-md-8
      .widget
        .widget-header
          %h3
            %i.fa.fa-calendar-o>
            Registration Breakdown
        .widget-content
          .table-responsive
            %table.table.table-bordered.table-striped.table-hover
              %thead
                %tr
                  %th
                  %th Totals
              %tbody
                %tr
                  %td Young People
                  %td= @role_counts['yp'].to_i
                %tr
                  %td Helpers
                  %td= @role_counts['helper'].to_i
                %tr
                  %td Trainees
                  %td= @role_counts['trainee'].to_i
                %tr
                  %td Serving Ones
                  %td= @registrations.serving_one.size
                %tr
                  %td Serving Ones Needed
                  %td
                %tr
                  %td
                    %strong Total
                  %td
                    %strong= @registrations.size
    .col-md-4
      .widget
        .widget-header
          %h3
            %i.fa.fa-table>
            Available Lodgings
        .widget-content
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr{:style => "font: bold"}
                %td
                %td Totals
            %tbody
              - if @lodgings.any?
                %tr
                  %td Lodgings
                  %td= @lodgings.size
                %tr
                  %td Spaces Available
                  %td
                    = @lodgings.sum(:min_capacity)
                    (#{@lodgings.sum(:max_capacity)})
                %tr
                  %td Spaces Assigned
                  %td= #@locality.assigned_beds_total(@event)
                %tr
                  %td Spaces to Assign
                  %td= #@locality.beds_to_assign(@event)
              - else
                %tr
                  %td{:colspan => "4"}
                    %center No lodgings have been assigned
  .row
    .col-md-8
      .widget
        .widget-header
          %h3
            %i.fa.fa-calendar-o>
            Registered Saints
        .widget-content
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th Name
                %th Age
                %th Guest?
                %th MF?
                %th Background Check
                %th Hosp. Assignment
                %th Vehicle seats
                %th Notes
            %tbody#registrations
              - @registrations.each do |reg|
                = background_check_tr(reg.user, "reg-#{reg.id}")
                - if policy(Registration).edit?
                  %td= link_to reg.name, edit_event_registration_path(@event, reg)
                - else
                  %td= reg.name
                %td= reg.age.to_s.capitalize
                %td= display_yes_no(reg.guest)
                %td= display_yes_no(reg.medical_release)
                %td
                  = format_date(reg.background_check_date)
                %td= display_event_lodging_assignment(reg)
                %td= reg.vehicle_seating_capacity
                %td
    .col-md-4
      #locality_saints.widget
        .widget-header
          %h3
            %i.fa.fa-calendar-o>
            Locality Saints
        .widget-content
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th Name
                %th Age
                %th
            %tbody
              - @users_not_registered.each do |user|
                %tr{class: "#{user.background_check_date_row_class}"}
                  %td= user.name.capitalize
                  %td= user.age.to_s.capitalize
                  %td= link_to 'Register', new_event_registration_path(@event, user), class: 'btn btn-custom-secondary btn-xs'
  .row
    .col-md-12
      .widget
        .widget-header
          %h3
            %i.fa.fa-calendar-o>
            Payments
        .widget-content
          %table.table.talbe-bordered.table-striped.table-hover
            %thead
              %tr
                %th Saint
                %th MRF?
                %th Cost
                %th Pmt Adjustment
                %th Amt Paid
                %th
            %tbody
              - @registrations.each do |reg|
                %tr
                  %td= reg.user.name
                  %td
                    = display_yes_no(reg.medical_release)
                  %td= number_to_currency(@event.registration_cost)
                  %td= number_to_currency(reg.payment_adjustment)
                  %td= number_to_currency(reg.payment)
                  - if policy(Registration).edit?
                    %td
                      = link_to 'Edit', edit_event_registration_path(@event, reg, return_to: event_locality_path(@event, @locality)), class: 'btn btn-default'
              - if @registrations.empty?
                %tr
                  %td{:colspan => "4"}
                    %center No Payments have been made
  .row
    .col-md-12
      = link_to 'Back', event_path(@event), class: 'btn btn-default btn-sm'
