<div class="content">
  <div class="row">
    <div class="main-header">
      <h2>The Church in <%= @locality.city %></h2>
      <em>Participation details for <%= @event.title%></em>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Locality Contact:</strong> <%= @locality.contact_with_email_and_cell %>
  </div>
    <div class="col-md-6">
      <strong>Registration will close on: <%= format_date(@event.registration_close_date) %></strong>
      <br /><br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="widget">
        <div class="widget-header">
          <h3><i class="fa fa-calendar-o"></i>Attendance Breakdown</h3>
        </div>
        <div class="widget-content">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>Totals</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Young People</td>
                  <td><%= @locality.registered_yp(@event).count %></td>
                </tr>
                <tr>
                  <td>Helpers</td>
                  <td><%= @locality.registered_helpers(@event).count %></td>
                </tr>
                <tr>
                  <td>Trainees</td>
                  <td><%= @locality.registered_trainees(@event).count %></td>
                </tr>
                <tr>
                  <td>Serving Ones</td>
                  <td>(<%= @locality.registered_serving_ones(@event).count %>)</td>
                </tr>
                <tr>
                <tr>
                  <td>Serving Ones Needed</td>
                  <td>[Serving Ones]</td>
                </tr>
                <tr>
                  <td><strong>Totals</strong></td>
                  <td><strong><%= @locality.registered_users(@event).count %></strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget">
        <div class="widget-header">
          <h3><i class="fa fa-table"></i>Available Hospitalities</h3>
        </div>
        <div class="widget-content">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr style="font: bold">
                <td></td>
                <td>Totals</td>
              </tr>
            </thead>
            <tbody>
            <% if @locality.hospitalities(@event).count > 0 %>
              <tr>
              <td>Lodgings</td>
              <td><%= @locality.hospitalities(@event).count %></td>
            </tr>
            <tr>
              <td>Spaces Available</td>
              <td>
                <%= @locality.hospitalities_min(@event) %>
                (<%= @locality.hospitalities_max(@event) %>)
              </td>
            </tr>
            <tr>
              <td>Spaces Assigned</td>
              <td><%= @locality.assigned_beds_total(@event) %></td>
            </tr>
            <tr>
              <td>Spaces to Assign</td>
              <td><%= @locality.beds_to_assign(@event) %></td>
            </tr>
          <% else %>
              <tr><td colspan='4'><center>No Hospitalities have been assigned</center></td></tr>  
          <%end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="widget">
        <div class="widget-header">
          <h3><i class="fa fa-calendar-o"></i>Registered Saints</h3>
        </div>
        <div class="widget-content">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Guest?</th>
                <th>MF?</th>
                <th>Background Check</th>
                <th>Hosp. Assignment</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody id='registrations'>
              <% @registrations.all.each do |reg| %>
                <%= background_check_tr(reg.user, "reg-#{reg.id}") %>
                  <% if policy(Registration.all).edit? %>
                    <td><%= link_to reg.user.name, edit_event_registration_path(@event, reg) %></td>
                  <% else %>
                    <td><%= reg.user.name %></td>
                  <% end %>
                  <td><%= reg.user.age.to_s.capitalize %></td>
                  <td><%= display_yes_no(reg.conference_guest) %></td>
                  <td><%= display_yes_no(reg.has_medical_release_form) %></td>
                  <td>
                    <%= format_date(reg.user.background_check_date) %>
                  </td>
                  <td><%= display_hospitality_assignment(reg) %></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="widget">
        <div class="widget-header">
          <h3><i class="fa fa-calendar-o"></i>Locality Saints</h3>
        </div>
        <div class="widget-content">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% @users_not_registered.each do |user| %>
              <tr>
              <td><%= user.name %></td>
              <td><%= user.age %></td>
              <td><%= link_to 'Register', new_event_registration_path(@event, user), class: 'btn btn-custom-secondary btn-xs' %></td>
            </tr>
          <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-header">
          <h3><i class="fa fa-calendar-o"></i>Payments</h3>
        </div>
        <div class="widget-content">
          <table class="table talbe-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Saint</th>
                <th>MRF?</th>
                <th>Cost</th>
                <th>Pmt Adjustment</th>
                <th>Amt Paid</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if @registrations.count > 0 %>
                <% @registrations.each do |reg| %>
                  <tr>
                    <td><%= reg.user.name %></td>
                    <td><%= display_yes_no(reg.has_medical_release_form) %>
                    <td><%= number_to_currency(@event.registration_cost) %></td>
                      <td><%= number_to_currency(reg.payment_adjustment) %></td>
                      <td><%= calculate_payment(reg) %></td>
                       <% if policy(Registration.all).edit? %>
                        <td><%= link_to 'Edit', edit_event_registration_path(@event, reg, return_to: event_locality_path(@event, @locality)), class: 'btn btn-default' %>
                      <% end %>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan='4'><center>No Payments have been made</center></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Back', event_path(@event), class: 'btn btn-default btn-sm' %>
    </div>
  </div>
</div>
