.content
  .row
    .main-header
      %h2
        The Church in #{event_locality.locality_city}
      %em
        Participation details for #{event_locality.event_name}
  .row
    .col-md-6
      = link_to 'Back', event_path(@event_locality.event), class: 'btn btn-default btn-sm'
    .col-md-6
      %strong
        Registration will close on: #{@event_locality.event.registration_close_date}
      %br/
      %br/
  .row
    .col-md-8
      .widget
        .widget-header
          %h3
            %i.fa.fa-calendar-o>
            Registration Breakdown
        .widget-content
          .table-responsive
            %table.table.table-bordered.table-striped.table-hover
              %thead
                %tr
                  %th
                  %th Totals
              %tbody
                %tr
                  %td Young People
                  %td= event_locality.role_count('yp')
                %tr
                  %td Helpers
                  %td= event_locality.role_count('helper')
                %tr
                  %td Trainees
                  %td= event_locality.role_count('trainee')
                %tr
                  %td Serving Ones
                  %td= event_locality.serving_one_count
                %tr
                  %td Serving Ones Needed
                  %td 
                %tr
                  %td
                    %strong Total
                  %td
                    %strong= event_locality.registration_count
    .col-md-4
      .widget
        .widget-header
          %h3
            %i.fa.fa-table>
            Available Lodgings
        .widget-content
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr{:style => "font: bold"}
                %td
                %td Totals
            %tbody
              %tr
                %td Lodgings
                %td= event_locality.lodging_count
              %tr
                %td Spaces Available
                %td= event_locality.spaces_available
              %tr
                %td Spaces Assigned
                %td= #@locality.assigned_beds_total(@event)
              %tr
                %td Spaces to Assign
                %td= #@locality.beds_to_assign(@event)
  .row
    .col-md-8
      .widget
        .widget-header
          %h3
            %i.fa.fa-calendar-o>
            Registered Saints
        .widget-content
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th Name
                %th Age
                %th Guest?
                %th MF?
                %th Background Check
                %th Lodging
                %th Vehicle seats
            %tbody#registrations
              - registrations.each do |registration|
                - @registration = registration.object
                %tr{class: "#{registration.user.background_check_date_row_class}"}
                  - if policy(@registration).edit?
                    %td= link_to registration.user_name, event_registration_path(@event_locality.event, @registration)
                  - else
                    %td= registration.user_name
                  %td= registration.user_age
                  %td= registration.guest?
                  %td= registration.medical_release?
                  %td= registration.user_background_check_date
                  %td= registration.lodging_name
                  %td= registration.vehicle_seating_capacity
    .col-md-4
      #locality_saints.widget
        .widget-header
          %h3
            %i.fa.fa-calendar-o>
            Locality Saints
        .widget-content
          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th Name
                %th Age
                %th
            %tbody
              - users_not_registered.each do |user|
                - @user = user.object
                %tr{class: "#{user.background_check_date_row_class}"}
                  %td= user.name
                  %td= user.age
                  %td= link_to 'Register', new_event_registration_path(@event_locality.event, @user, event_locality_id: @event_locality.id), class: 'btn btn-custom-secondary btn-xs'
  .row
    .col-md-12
      = link_to 'Back', event_path(@event_locality.event), class: 'btn btn-default btn-sm'
