<div class="content">
  <div class="main-header">
    <h2>Saint to Hospitality Assignments</h2>
    <em>Assign saints to hospitalities allocated to their locality</em>
  </div>
  <div class="col-md-8">
    <div id="hospitality_info_widget" class="widget widget-table">
      <div class="widget-header">
        <h3><i class="fa fa-table"></i>Participating Localities</h3>
      </div>
        <div class="widget-content">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <td>Locality</td>
                  <td>Registered Saints</td>
                  <td>Allocated Beds</td>
                  <td>Assigned Beds</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <% @event.localities.each  do |locality| %>
                  <tr id=<%= "locality_#{locality.id}" %>>
                    <td><%= locality.city %></td>
                    <td><%= @event.registered_saints_from_locality(locality).count %></td>
                    <td>Test</td>
                    <td>Test</td>
                    <td><%= link_to 'Assignments', event_hospitality_registration_assignment_path(@event, locality), class: 'btn btn-secondary' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer">
          <%= link_to 'Back', event_path(@event, anchor: 'hospitality_info_widget'), class: 'btn btn-default btn-sm' %>
        </div>
    </div>
  </div>
