<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
				<% @registration.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
      </ul>
    </div>
  <% end %>

	<!-- Event info -->
	<h3><%= @event.title %></h3>
	<ul>
		<li>Held at: <%= @event.location.name %></li>
		<li>Event dates: <%= @event.begin_date %> to <%= @event.end_date %></li>
		<li>Cost: $<%= @event.registration_cost %></li>
	</ul>
	<div class="form-group">
		<%=f.hidden_field :event_id, value: params[:event_id]%>
		<%= f.submit 'Register' %> 
	</div>
<% end %>
