<h1>New User</h1>

<%= form_for @user do |f| %>
	<%= f.label :firstname %>
	<%= f.text_field :firstname %>
	<%= f.label :lastname %>
	<%= f.text_field :lastname %>
	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.submit 'Create User' %>
<% end %>
