					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<%= link_to  "#event#{event.id}", "data-toggle" => "collapse", "data-parent" => "#events", class: 'collapsed' do %>
									<%= event.title %>
									<i class="fa fa-angle-down pull-right"></i><i class="fa fa-angle-up pull-right"></i>
								<% end %>
							</h4>
						</div><!-- panel-heading -->
						<%= content_tag(:div, id: "event#{event.id}", class: 'panel-collapse collapse') do %>
							<%= content_tag(:div, class: 'panel-body') do %>
								<p><%= event.begin_date.strftime("%m/%d/%y") %></p>
								<p><%= event.end_date.strftime("%m/%d/%y") %></p>
								<% if current_user %>
									<p><%= link_to 'Register', new_registration_path(event_id: event.id) %></p>
								<% else %>
									<p><%= link_to 'Sign in to register', user_session_path %></p>
								<% end %>
							<% end %>
						<% end %>
					</div><!-- panel panel-default -->
				<!--% end %-->
