<%= form_for(@event, class: 'form-horizontal') do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
			<h4><strong><%= pluralize(@event.errors.count, "error") %></strong> prohibited this event from being saved:</h4>
      <ul>
				<% @event.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<legend>General Information</legend>
		<div class="form-group">
			<%= f.label :title, class: 'col-md-2 control-label' %>
			<div class="col-md-10">
				<%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: "Enter a Title" %>
			</div>
		</div>
		<div class="form-group">
			<%= f.label :description, class: 'col-md-2 control-label' %>
			<div class="col-md-10">
				<%= f.text_field :description, autofocus: true, class: 'form-control', placeholder: "Enter a description" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :event_type, class: 'col-md-2 control-label' %>
			<div class="col-md-10">
				<%= f.select :event_type,
					Event::EVENT_TYPE, 
					options={ placeholder: "Event Type" }, html_options={ class: 'form-control select' } %>
			</div>
		</div>
		
		<div class="form-group">
			<%= f.label :location, class: 'col-md-2 control-label' %>
			<div class="col-md-10">
				<%= f.collection_select(:location_id, Location.all, :id, :name, {include_blank: true}, {class: 'form-control'}) %>
				<%= link_to "Add a location", new_location_path, class: 'pull-right' %>
			</div>
		</div>

		<div class="form-group">
			<%=f.label :registration_cost, class: 'col-md-2 control-label' %>
			<div class="col-md-4">
				<div class="input-group">
					<span class='input-group-addon'>$</span>
					<%= f.text_field :registration_cost, class: 'form-control', placeholder: 'Cost' %>
					<span class='input-group-addon'>.00</span>
				</div>
			</div>
			<div class="col-md-6"> </div>
		</div>
	</fieldset>

	<fieldset>
		<legend>Event Dates</legend>

		<div class="form-group">
			<%= f.label :registration_open_date, class: 'col-md-2 control-label' %>
			<div class="col-md-4">
        <div class="input-group input-append date">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				  <%= f.text_field :registration_open_date, class: 'form-control', placeholder: "Enter the date registration opens" %>
        </div>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :registration_close_date, class: 'col-md-2 control-label' %>
			<div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				  <%= f.text_field :registration_close_date, class: 'form-control', placeholder: "Enter the date registration closes" %>
        </div>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :begin_date, class: 'col-md-2 control-label' %>
			<div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <%= f.text_field :begin_date, class: 'form-control', placeholder: "Enter the date the event begins" %>
        </div>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :end_date, class: 'col-md-2 control-label' %>
			<div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				  <%= f.text_field :end_date, class: 'form-control', placeholder: "Enter the date the event ends" %>
        </div>
			</div>
		</div>
	</fieldset>

	<div class="form-group">
		<div class= "col-md-12">
			<span class="pull-right">
				<%= link_to 'Back', events_path, class: 'btn btn-default' %>
				<%= f.submit "Submit", class: 'btn btn-primary' %>
			</span>
		</div>
	</div>
<% end %>
