= form_for(@event, class: 'form-horizontal') do |f|
  - if @event.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissable
      %h4
        %strong= pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend General Information
    .form-group
      = f.label :title, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :title, autofocus: true, class: 'form-control', placeholder: "Enter a Title"
    .form-group
      = f.label :description, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :description, autofocus: true, class: 'form-control', placeholder: "Enter a description"
    .form-group
      = f.label :event_type, class: 'col-md-2 control-label'
      .col-md-10
        = f.select :event_type,                                                                |
          Event::EVENT_TYPE,                                                                   |
          options={ placeholder: "Event Type" }, html_options={ class: 'form-control select' } |
    .form-group
      = f.label :location, class: 'col-md-2 control-label'
      .col-md-10
        = f.collection_select(:location_id, Location.all, :id, :name, {include_blank: true}, {class: 'form-control'})
        = link_to "Add a location", new_location_path, class: 'pull-right'
    .form-group
      = f.label :registration_cost, class: 'col-md-2 control-label'
      .col-md-4
        .input-group
          %span.input-group-addon $
          = f.text_field :registration_cost, class: 'form-control', placeholder: 'Cost'
          %span.input-group-addon .00
      .col-md-6
  %fieldset
    %legend Event Dates
    .form-group
      = f.label :registration_open_date, class: 'col-md-2 control-label'
      .col-md-4
        .input-group.input-append.date
          %span.input-group-addon
            %i.fa.fa-calendar
          = f.text_field :registration_open_date, class: 'form-control', placeholder: "Enter the date registration opens"
    .form-group
      = f.label :registration_close_date, class: 'col-md-2 control-label'
      .col-md-4
        .input-group
          %span.input-group-addon
            %i.fa.fa-calendar
          = f.text_field :registration_close_date, class: 'form-control', placeholder: "Enter the date registration closes"
    .form-group
      = f.label :begin_date, class: 'col-md-2 control-label'
      .col-md-4
        .input-group
          %span.input-group-addon
            %i.fa.fa-calendar
          = f.text_field :begin_date, class: 'form-control', placeholder: "Enter the date the event begins"
    .form-group
      = f.label :end_date, class: 'col-md-2 control-label'
      .col-md-4
        .input-group
          %span.input-group-addon
            %i.fa.fa-calendar
          = f.text_field :end_date, class: 'form-control', placeholder: "Enter the date the event ends"
  .form-group
    .col-md-12
      %span.pull-right
        - if @return_to == 'index'
          = link_to 'Back', event_path(@event), class: 'btn btn-default'
        - else
          = link_to 'Back', events_path, class: 'btn btn-default'
        = f.submit "Submit", class: 'btn btn-primary'
