.table-responsive
  %table.table.table-striped
    %thead
      %tr{:style => "font: bold"}
        %td Name
        %td Type
        %td Event Dates
        %td Registration Window
        %td Cost
        %td
    %tbody
      - events.each do |event|
        - @event = event.object
        %tr
          %td= link_to event.name, @event
          %td= event.event_type
          %td= event.dates
          %td= event.registration_window
          %td= event.registration_cost
          - if policy(@event).edit?
            %td= link_to 'Edit', edit_event_path(@event)
          - if policy(@event).copy?
            %td= link_to 'Copy', event_copies_path(event_id: @event), method: :post
          - if policy(@event).destroy?
            %td= link_to 'Delete', @event, method: :delete, data: {confirm: 'Are you sure?'}
      - if events.empty?
        %tr
          %td{:colspan => "7"}
            %center No events in the system.
