<div class="content">
	<div class="main-header">
		<h2>Events</h2>
			<em>list of up-coming conferences, retreats, and one-day events</em>
	</div>

  <!-- Current & future events -->
	<div class="col-md-12">
		<div class="widget widget-table">
			<div class="widget-header">
				<h3><i class="fa fa-table"></i></h3>
			</div>
			<div class="widget-content">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr style="font: bold">
                <td>Name</td>
                <td>Type</td>
                <td>Event Dates</td>
                <td>Registration Window</td>
                <td>Cost</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <% if @events.all.count > 0 %>
                <% @events.each do |event| %>
                  <tr>
                    <td><%= link_to event.title, event %></td>
                    <td><%= display_event(event) %></td>
                    <td>
                      <%= format_date(event.begin_date) %> -
                      <%= format_date(event.end_date) %>
                    </td>
                    <td>
                      <%= format_date(event.registration_open_date) %> -
                      <%= format_date(event.registration_close_date) %>
                    </td>
                    <td><%= number_to_currency(event.registration_cost) %></td>

                    <td>
                      <%= link_to 'Edit', edit_event_path(event) %>&nbsp;
                      <%= link_to 'Copy', event_copies_path(event_id: event), method: :post %>&nbsp;
                      <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr><td colspan=7><center>No Events in the database...</center></td></tr>
              <% end %>
            <tbody>
				  </table>
        </div>
        <%= link_to 'Back', dashboard_index_path, class: 'btn btn-default' %>
				<%= link_to new_event_path, class: 'btn btn-primary' do %>
					<%= content_tag(:i, '', class: "fa fa-plus-square") %>
					New Event
				<% end %>
			</div>
		</div>
	</div>

  <!-- Events in the past -->
	<div class="col-md-12">
		<div class="widget widget-table">
			<div class="widget-header">
				<h3><i class="fa fa-table"></i></h3>
			</div>
			<div class="widget-content">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr style="font: bold">
                <td>Name</td>
                <td>Type</td>
                <td>Event Dates</td>
                <td>Registration Window</td>
                <td>Cost</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <% if @past_events.all.count > 0 %>
                <% @past_events.each do |event| %>
                  <tr>
                    <td><%= link_to event.title, event %></td>
                    <td><%= display_event(event) %></td>
                    <td>
                      <%= format_date(event.begin_date) %> -
                      <%= format_date(event.end_date) %>
                    </td>
                    <td>
                      <%= format_date(event.registration_open_date) %> -
                      <%= format_date(event.registration_close_date) %>
                    </td>
                    <td><%= number_to_currency(event.registration_cost) %></td>

                    <td>
                      <%= link_to 'Edit', edit_event_path(event) %>&nbsp;
                      <%= link_to 'Copy',
                        new_event_copy_path(event_id: event) %>&nbsp;
                      <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr><td colspan=7><center>No Events in the database...</center></td></tr>
              <% end %>
            <tbody>
				  </table>
        </div>
        <%= link_to 'Back', dashboard_index_path, class: 'btn btn-default' %>
				<%= link_to new_event_path, class: 'btn btn-primary' do %>
					<%= content_tag(:i, '', class: "fa fa-plus-square") %>
					New Event
				<% end %>
			</div>
		</div>
	</div>
</div>
