<div class="content">
	<div class="main-header">
		<h2>Events</h2>
			<em>list of up-coming conferences, retreats, and one-day events</em>
	</div>

	<div class="col-md-12">
		<div class="widget widget-table">
			<div class="widget-header">
				<h3><i class="fa fa-table"></i></h3>
			</div>
			<div class="widget-content">
				<table class="table table-striped">
					<thead>
						<tr style="font: bold">
							<td>Name</td>
							<td>Type</td>
							<td>Event Begins</td>
							<td>Event Ends</td>
							<td>Registration Opens</td>
							<td>Registration Closes</td>
							<td>Cost</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<% if @events.all.count > 0 %>
							<% @events.each do |event| %>
								<tr>
									<td><%= link_to event.title, event %></td>
									<td><%= display_event(event) %></td>
									<td><%= format_date(event.begin_date) %>
									<td><%= format_date(event.end_date) %>
									<td><%= format_date(event.registration_open_date) %>
									<td><%= format_date(event.registration_close_date) %>
									<td><%= number_to_currency(event.registration_cost) %>

									<td><%= link_to 'Edit', edit_event_path(event) %>&nbsp;
										<%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
									</td>
								</tr>
							<% end %>
						<% else %>
							<tr><td colspan=7><center>No Events in the database...</center></td></tr>
						<% end %>
					<tbody>
				</table>

				<%= link_to new_event_path, class: 'btn btn-default' do %>
					<%= content_tag(:i, '', class: "fa fa-plus-square") %>
					New Event
				<% end %>

			</div>
		</div>
	</div>

</div>
