<h1><%= @event.title %><br /></h1>
<p id="notice"><%= notice %></p>

<p>
	<strong>Begin date: </strong>
	<%= @event.begin_date %><br />
	<strong>End date: </strong>
	<%= @event.end_date %><br />
	<strong>Registration cost: $</strong>
	<%= @registration_cost %><br />
	<%= link_to 'Register', new_registration_path %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
