.content
  .main-header
    %h2= @event.title
    %em= "to be held at #{ @event.location_name }"
  .row
    / Event info
    .col-md-4.col-sm-6
      #event-info.widget
        .widget-header
          %h3
            %i.fa.fa-calendar-o>
            Event Details
        .widget-content
          .table-responsive
            %table.table.table-bordered.table-striped.table-hover
              %thead
              %tbody
                %tr
                  %td
                    %strong Type:
                  %td= @event.event_type
                %tr
                  %td
                    %strong Registration:
                  %td
                    = format_date(@event.registration_open_date)
                    \-
                    \#{format_date(@event.registration_close_date)}
                %tr
                  %td
                    %strong Dates:
                  %td
                    = format_date(@event.begin_date)
                    \-
                    \#{format_date(@event.end_date)}
                %tr
                  %td
                    %strong Cost:
                  %td
                    = (@event.registration_cost)? "#{number_to_currency(@event.registration_cost)}" : "TBA"
          - if policy(@event).edit?
            = link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary btn-sm'
          - if policy(@event).can_manage?
            #event-info-btn-group.btn-group
              %button#manage.btn.btn-default.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                Manage
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                - if policy(EventLodging).index?
                  %li= link_to 'Lodging', event_lodgings_path(@event)
                - if policy(Registration).index?
                  %li= link_to 'Registrations', event_registrations_path(@event)
                  %li
                - if policy(Registration).index?
                  %li= link_to 'Payments', edit_locality_payments_path(@event)
                - if show_attendance_menu_option?(@event)
                  %li#attendance-option= link_to 'Attendance', event_registrations_path(@event, view: 'attendance')
    .col-md-4.col-sm-6
      .widget
        .widget-header
          %h3
            %i.fa.fa-bar-chart-o>
            Statistics
        .widget-content
          .table-responsive
            %table.table.table-bordered.table-striped.table-hover
              %thead
                %tr
                  %th
                  %th Totals
              %tbody
                %tr
                  %td Registered
                  %td= @event.registrations.size
                %tr
                  %td Location Capacity
                  %td= @event.max_capacity
                %tr
                  %td Remaining Spaces
                  %td= @event.max_capacity - @event.registrations.size
      / end event registration details
    / Registration Breakdown
    .col-md-4.col-sm-6
      .widget
        .widget-header
          %h3
            %i.fa.fa-bar-chart-o>
            Registration Breakdown
        .widget-content
          .table-responsive
            %table.table.table-bordered.table-striped.table-hover
              %thead
                %tr
                  %th
                  %th Totals
              %tbody
                %tr
                  %td Young People
                  %td= @role_counts['yp'].to_i
                %tr
                  %td Serving Ones
                  %td= @registrations.serving_one.size
                %tr
                  %td Trainees
                  %td= @role_counts['trainee'].to_i
                %tr
                  %td Helpers
                  %td= @role_counts['helper'].to_i
                %tr
                  %td Conference Guests
                  %td= @role_counts['guest'].to_i
                %tr
                  %td YCAT
                  %td= @role_counts['ycat'].to_i
                %tr
                  %td S/S Brothers
                  %td= @role_counts['speaking_brother'].to_i + @role_counts['supporting_brother'].to_i
    / end attendance breakdown
  / end event info, statistics, attendance breakdown row
  .row
    .col-md-12
      #locality_summary.widget
        .widget-header
          .btn-group.widget-header-toolbar
            %a#tour-focus.btn-borderless.btn-focus{:href => "#", :title => "focus"}
              %i.fa.fa-eye
            %a.btn-borderless.btn-toggle-expand{:href => "#", :title => "expand/collapse"}
              %i.fa.fa-chevron-up
            %a.btn-borderless.btn-remove{:href => "#", :title => "remove"}
              %i.fa.fa-times
          %h3
            %i.fa.fa-bar-chart-o>
            Locality Summaries
        .widget-content
          .table-responsive
            %table.table.table-bordered.table-striped.table-hover
              %thead
                %tr
                  %th Locality
                  %th Grand Total
                  %th Total YP
                  %th Total SO
                  %th Total Trainees
                  %th Total Helpers
                  %th YP/SO
                  %th Guests
                  %th Amt Due
                  %th Actual Grand Total
                  %th Actual Total YP
                  %th Actual Total SO
                  %th Actual Total Trainees
                  %th Actual Total Helpers
                  %th Actual Amt Paid
                  %th Balance
              %tbody
                - @event_localities.each do |event_locality|
                  %tr
                    %td= link_to event_locality.city, event_locality_path(event_locality.event, event_locality.locality)
                - if @event_localities.empty?
                  %tr
                    %td.text-center{:colspan => "16"} There are no localities registered for this event.
                = #render partial: 'events/localities/attendance_summary', locals: {event_localities: @event_localities}
          - if policy(Locality).index?
            = link_to 'Localities List', event_localities_path(@event), class: 'btn btn-default btn-sm'
          - elsif policay(Locality).new? && @event_localities.empty?
            = link_to "Add registrations for #{current_user.locality_city}", new_event_locality_path(@event, locality: current_user.locality), class: 'btn btn-default btn-sm'
