<div class="content">
	<div class="row">
	<div class="main-header">
		<h2><%= @event.title %></h2>
		<em><%= "to be held at #{ Location.find(@event.location_id).name }" %></em>
	</div>
</div>
<div class="row">
	<!-- Event info -->
	<div class="col-md-6">
		<div class="widget">
			<div class="widget-header">
				<h3><i class="fa fa-calendar-o"></i>Event Details</h3>
			</div>
			<div class="widget-content">
				<p id="notice"><%= notice %></p>

				<div class="row">
					<div class="col-sm-4">
						<strong><span class="pull-right">Type of event:</span></strong>
					</div>
					<div class="col-sm-8">
						<%= display_event(@event) %>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<strong><span class="pull-right">Begin Date:</span></strong>
					</div>
					<div class="col-sm-8">
						<%= format_date(@event.begin_date) %>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4">
						<strong><span class="pull-right">End date: </span></strong>
					</div>
					<div class="col-sm-8">
						<%= format_date(@event.end_date) %>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<strong><span class="pull-right">Registration opens: </span></strong>
					</div>
					<div class="col-sm-8">
						<%= format_date(@event.registration_open_date) %>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<strong><span class="pull-right">Registration  closes: </span></strong>
					</div>
					<div class="col-sm-8">
						<%= format_date(@event.registration_close_date) %>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<strong><span class="pull-right">Registration cost:</span></strong>
					</div>
					<div class="col-sm-8">
						<%= (@event.registration_cost)? "#{number_to_currency(@event.registration_cost)}" : "TBA" %>
					</div>
				</div>

				<!--div class="row"-->
					<!--div class="col-sm-12"-->
						<!--%= link_to 'Register', new_event_registrations_path, class: 'btn btn-default pull-right' %-->
					<!--/div-->
				<!--/div-->
			</div>

			<div class="widget-footer">	
			</div>
		</div>
	</div>
	<!-- Event Registration Details -->
	<div class="col-md-6">
		<div class="widget">
			<div class="widget-header">
				<h3><i class="fa fa-bar-chart-o"></i>Statistics</h3>
			</div>
			<div class="widget-content">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>Totals</th>
					</thead>
					<tbody>
						<tr>
							<td>Total Attendance</td>
							<td><%= @event.registrations.count %></td>
						</tr>
						<tr>
							<td>Camp Max Capacity</td>
							<td><%= display_max_cap(@event.location)%></td>
						</tr>
						<tr>
							<td>Remaining Spaces</td>
							<td><%= @event.remaining_spaces %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div><!-- end event registration details -->

</div>
<div class="row">
	<div class="col-md-12">
		<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary'%>
		<%= link_to 'Back', events_path, class: 'btn btn-default' %>
	</div>
</div>
</div><!-- End event info -->
