%section.content
  .row
    .col-md-3
      .box.box-primary
        .box-body.box-profile
          %h1.profile-username.text-center= event.name
          %p.text-muted.text-center= event.location_name
        %ul.list-group.list-group-unbordered
          %li.list-group-item
            %b Type
            %span.pull-right= event.event_type
          %li.list-group-item
            %b Dates
            %span.pull-right= event.dates
          %li.list-group-item
            %b Registration
            %span.pull-right= event.registration_window
          %li.list-group-item
            %b Cost
            %span.pull-right= event.registration_cost
          - if policy(@event).can_manage?
            #event-info-btn-group.btn-group
              %button#manage.btn.btn-default.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                Manage
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                - if policy(EventLodging).index?
                  %li= link_to 'Lodgings', event_lodgings_path(@event)
                - if policy(Registration).index?
                  %li= link_to 'Registrations', event_registrations_path(@event)
                  %li
                - if policy(@event).edit_locality_payments?
                  %li= link_to 'Payments', edit_locality_payments_path(@event)
                - if @event.current?
                  %li#attendance-option= link_to 'Attendance', event_registrations_path(@event, view: 'attendance')
    .col-md-3.col-sm-6.col-xs-12
      .info-box.bg-red
        .info-box-icon
          %i.fa.fa-comments-o
        .info-box-content
          %span.info-box-text Registrations
          %span.info-box-number 100
          .progress
            .progress-bar{style: 'width: 20%'}
          .progress-description 20% capacity
    .col-md-3
      .box
        .box-content
          %table.table.table-bordered.table-hover.table-striped
            %thead
              %tr
                %th
                %th Totals
            %tbody
              %tr
                %td Young People
                %td= event.role_count('yp')
              %tr
                %td Serving Ones
                %td= event.serving_one_count
              %tr
                %td Trainees
                %td= event.role_count('trainee')
              %tr
                %td Helpers
                %td= event.role_count('helper')
              %tr
                %td Conference Guests
                %td= event.role_count('guest')
              %tr
                %td YCAT
                %td= event.role_count('ycat')
              %tr
                %td S/S Brothers
                %td= event.ss_brother_count
  .row
    .col-md-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li
            %a{data: {toggle: 'tab'}, href: '#localities'} Localities
          %li
            %a{data: {toggle: 'tab'}, href: '#lodgings'} Lodgings
          %li
            %a{data: {toggle: 'tab'}, href: '#registrations'} Registrations
        .tab-content
          #localities.active.tab-pane
            - if policy(EventLocality).add?
              %a.btn.btn-primary{href: add_event_localities_path(@event)} New
            = render partial: 'events/localities/table', object: event.localities, as: 'event_localities'
          #lodgings.tab-pane
            - if policy(EventLodging).add?
              %a.btn.btn-primary{href: add_event_lodgings_path(@event)} New
            = render partial: 'events/lodgings/table', object: event.lodgings, as: 'event_lodgings'
          #registrations.tab-pane
            %table.table.table-bordered.table-hover.table-striped
              %thead
                %tr
                  %th Name
                  %th Locality
                  %th Lodging
                  %th Role
                  %th Gender
                  %th Age
                  %th Paid?
                  %th MF?
              %tbody
                = render partial: 'events/registrations/registration', collection: event.registrations, locals: {event: @event}
