<%= form_for [@event,@attendance] do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
    <h4><strong><%= pluralize(@attendance.errors.count, "error") %></strong> prohibited this attendance information from being saved:</h4>
    <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Event info -->
  <fieldset>
    <legend>Registrant Information</legend>
    <%#= hidden_field_tag "user_id", @user.id %> 
    <%= hidden_field_tag "user_id", @attendance.user.id %> 
    <div>
      <p class="data-row">
        <span class="data-name">Name</span>
        <span class=" data-value"><%= @attendance.user.name %></span>
      </p>

      <p class="data-row">
        <span class="data-name">Role</span>
        <span class=" data-value"><%= @attendance.user.role.upcase %></span>
      </p>

      <p class="data-row">
        <span class="data-name">Gender</span>
        <span class=" data-value"><%=format_titleize(@attendance.user.gender) %></span>
      </p>

      <p class="data-row">
        <span class="data-name">City</span>
        <span class=" data-value"><%=@attendance.user.locality_city.titleize %></span>
      </p>
    </div>
  </fieldset>
  <fieldset>
    <legend>Attendance Information</legend>
    <div>
      <p class="data-row">
        <span class="data-name">Pmt Type</span>
        <span class="data-value"><%= @attendance.payment_type %></span>
      </p>

      <p class="data-row">
        <span class="data-name">Pmt Adjustment</span>
        <span class="data-value"><%= number_to_currency(@attendance.payment_adjustment) %></span>
      </p>

      <p class="data-row">
        <span class="data-name">Serving One</span>
        <span class="data-value"><%= display_yes_no(@attendance.attend_as_serving_one) %></span>
      </p>

      <p class="data-row">
        <span class="data-name">Registration Paid</span>
        <span class="data-value"><strong><%= display_yes_no(@attendance.has_been_paid) %></strong></span>
      </p>
    </div>

    <div class="form-group">
      <div class="simple-checkbox">
        <%= f.check_box :has_medical_release_form %>
        <%= f.label :has_medical_release_form, "Returned medical release form", class: 'checkbox' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :status, class: ' col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.select :status,
          Registration::STATUS,
          options={},
          html_options={ class: 'form-control select' } %>
      </div>
    </div>

  </fieldset>
  <div class="form-group">
    <div class="col-md-12">
      <span class="pull-right">
        <% if params[:action] == 'new' %>
          <%= f.submit 'Register', class: 'btn btn-primary' %> 
        <% else %>
          <%= f.submit 'Update', options: { view: 'attendance' }, class: 'btn btn-primary' %>
        <% end %>
    <%= hidden_field_tag :view, 'attendance' %> 
        <%= link_to 'Back', event_registrations_path(event,view: 'attendance'), class: 'btn btn-default' %>
      </span>
    </div>
  </div>
<% end %>
