= form_for [@event, @registration] do |f|
  = hidden_field_tag "user_id", @registration.user.id
  = hidden_field_tag "event_locality_id", @registration.event_locality.id
  .form-group
    = f.label :lodging, class: 'col-md-2 control-label'
    - if policy(@registration).edit_lodging?
      = f.collection_select :event_lodging_id, event.available_lodgings, :object_id, :name, options={prompt: true}, html_options={class: 'form-control select'}
    - else
      %span.form-control{disabled: 'disabled'}= registration.lodging_name
  .form-group
    = f.label :payment_type, class: 'col-md-2 control-label'
    = f.select :payment_type, RegistrationDecorator.payment_types, options={placeholder: "Payment Type"}, html_options={class: 'form-control select'}
  .form-group
    = f.label :payment_adjustment, class: 'col-md-2 control-label'
  .input-group
    %label.sr-only{:for => "exampleInputAmount"} Amount (in dollars)
    .input-group-addon $
    = f.text_field :payment_adjustment, autofocus: true, class: 'form-control', placeholder: "Amount"
    .input-group-addon .00
  .form-group
    .control-label Has registration been paid?
    .radio-inline{:style => "padding-left: 40px;"}
      = f.radio_button(:paid, false)
      = label_tag(:paid_no, "No", value: 'false')
    .radio-inline
      = f.radio_button(:paid, true)
      = label_tag(:paid_yes, "Yes", value: 'true')
  .form-group
    = f.label :vehicle_seating_capacity, class: 'col-md-2 control-label'
    = f.text_field :vehicle_seating_capacity, autofocus: true, class: 'form-control', placeholder: '(including driver)'
  .form-group
    .simple-checkbox
      = f.check_box :medical_release
      = f.label :medical_release, "Returned medical release form", class: 'checkbox'
    .simple-checkbox
      = f.check_box :serving_one
      = f.label :serving_one, "Attending as a serving one", class: 'checkbox'
    .simple-checkbox
      = f.check_box :guest
      = f.label :guest,"Conference Guest", class: 'checkbox'
  .form-group
    %span.pull-right
      = f.submit 'Submit', class: 'btn btn-primary'
