<%= form_for [@event,@registration] do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <h4><strong><%= pluralize(@registration.errors.count, "error") %></strong> prohibited this registration from being saved:</h4>
      <ul>
        <% @registration.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Event info -->
  <fieldset>
    <legend><%= @event.title %></legend>
    <div class="form-group">
      <%= f.label "Location", class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <h4><%= @event.location.name %></h4>
        <h5><%=event_location(@event) %></h5>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Event Dates", class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <h5><%= @event.begin_date.to_formatted_s(:long_ordinal) %> - <%= @event.end_date.to_formatted_s(:long_ordinal) %></h5>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Registration cost", class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <h5><%= number_to_currency(@event.registration_cost) %></h5>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Registrant Information</legend>
      <div class="form-group">
        <%= f.label "Name", class: 'col-md-2 control-label' %>
        <div class="col-md-6">
          <span class="form-control" disabled><%= current_user.name %></span>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Role", class: 'col-md-2 control-label' %>
        <div class="col-md-6">
          <span class="form-control" disabled><%= current_user.role.upcase %></span>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Gender", class: 'col-md-2 control-label' %>
        <div class="col-md-6">
          <span class="form-control" disabled><%= format_titleize(current_user.gender) %></span>
        </div>
      </div>
      <div class="form-group">
        <%= f.label "Locality", class: 'col-md-2 control-label' %>
        <div class="col-md-6">
          <span class="form-control" disabled><%= current_user.locality_city.titleize %></span>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <legend>Registration Information</legend>
    <div class="form-group">
      <%= f.label :payment_type, class: 'col-md-2 control-label' %>
      <div class="col-md-4">
        <%= f.select :payment_type,
          Registration::PAYMENT_TYPE, 
          options={ placeholder: "Payment Type" },
          html_options={ class: 'form-control select' } %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :payment_adjustment, class: 'col-md-2 control-label' %>
      <div class="col-md-4">
        <div class="input-group">
          <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
          <div class="input-group-addon">$</div>
          <%= f.text_field :payment_adjustment, autofocus: true, class: 'form-control', placeholder: "Amount" %>
          <div class="input-group-addon">.00</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="simple-checkbox">
        <%= f.check_box :has_medical_release_form %>
        <%= f.label :has_medical_release_form, "Returned medical release form", class: 'checkbox' %>
      </div>
      <div class="simple-checkbox">
        <%= f.check_box :attend_as_serving_one %>
        <%= f.label :attend_as_serving_one,"Attending as a serving one", class: 'checkbox' %>
      </div>
    </div>
    <div class="col-md-12 control-label">Has registration been paid?</div>
    <div class="form-group">
      <div class="radio-inline" style="padding-left: 40px;">
        <%= f.radio_button(:has_been_paid, false) %><%= label_tag(:has_been_paid_no, "No", value: 'false') %>
      </div>
      <div class="radio-inline">
        <%= f.radio_button(:has_been_paid, true) %><%= label_tag(:has_been_paid_yes, "Yes", value: 'true') %>
      </div>
    </div>

  </fieldset>
  <div class="form-group">
    <div class="col-md-12">
      <span class="pull-right">
        <% if params[:action] == 'new' %>
          <%= f.submit 'Register', class: 'btn btn-primary' %> 
        <% else %>
          <%= f.submit 'Update', class: 'btn btn-primary' %>
        <% end %>
        <%= link_to 'Back', event_registrations_path(event), class: 'btn btn-default' %>
      </span>
    </div>
  </div>
<% end %>
