%tr{class: registration.user_background_check_date_row_class}
  %td= link_to registration.user_name, event_registration_path(@event, registration.object)
  %td= registration.locality_city
  %td= registration.lodging_name
  %td= registration.user_role
  %td= registration.user_gender
  %td= registration.user_age
  %td= registration.paid?
  %td= registration.medical_release?
