<div class="content">
	<div class="main-header">
		<h2>Attendance</h2>
			<em>Manage attendance with the following list of registrations per locality</em>
	</div>
  <h2>Registrations: <%= @registrations.count %></h2>

  <% @event_localities.each do |ev_loc| %>
    <div class="col-md-12">
      <div id="loc_<%= ev_loc.locality.id %>" class="widget widget-table">
        <div class="widget-header">
        <h3><i class="fa fa-table"></i><%= ev_loc.locality_city %></h3>
        </div>
        <div class="widget-content">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr style="font: bold">
                  <th>Status</th>
                  <th>Locality</th>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Gender</th>
                  <th>Age</th>
                  <th>Paid?</th>
                  <th>Medical release Form?</th>
                  <th>Serving?</th>
                  <th>Background Check</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% ev_loc.registrations.each do |reg| %>
                  <%= background_check_tr(reg.user, "user_#{reg.user.id}") %>
                    <td><%= reg.status %></td>
                    <td><%= reg.user.locality_city %></td>
                    <td><%= link_to "#{reg.user.name}", event_registration_path(@event,reg,view: 'attendance') %></td>
                    <td><%= reg.user.role %></td>
                    <td><%= reg.user.gender.to_s[0] %></td>
                    <td><%= reg.user.age %></td>
                    <td><%= display_yes_no(reg.has_been_paid) %></td>
                    <td><%= display_yes_no(reg.has_medical_release_form) %></td>
                    <td><%= display_yes_no(reg.attend_as_serving_one) %></td>
                    <td>
                      <%= format_date(reg.user.background_check_date) %>
                      <% if !reg.user.background_check_valid? %>
                        <i class="fa fa-exclamation-triangle danger"></i>
                      <% end %>
                  </td>
                    <% if reg.user.background_check_valid? %>
                      <td>
                        <%= link_to 'Update',
                          edit_event_registration_path(
                            @event,
                            reg,
                            view: 'attendance'),
                          class: 'btn btn-primary btn-xs' %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="widget-footer">
          <%= link_to 'Back', event_path(@event), class: 'btn btn-default btn-sm' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
