.main-header
  %h2 Registrations
  %em list of people attending this event
.col-md-12
  .widget.widget-table
    .widget-header
      %h3
        %i.fa.fa-table
        = event.name
    .widget-content
      .table-responsive
        %table#registrations.table.table-bordered.table-hover
          %thead
            %tr{style: "font: bold"}
              %th Name
              %th Locality
              %th Lodging
              %th Role
              %th Gender
              %th Age
              %th Paid?
              %th MF?
          %tbody
            - registrations.each do |registration|
              - @registration = registration.object
              %tr{class: registration.user_background_check_date_row_class}
                %td= link_to registration.user_name, event_registration_path(@event, @registration)
                %td= registration.locality_city
                %td= registration.lodging_name
                %td= registration.user_role
                %td= registration.user_gender
                %td= registration.user_age
                %td= registration.paid?
                %td= registration.medical_release?
            - if registrations.empty?
              %tr
                %td{:colspan => "12"}
                  %center There is no one registered for this event.
      = link_to 'Back', event_path(@event), class: 'btn btn-default'
