%section.content-header
  %h1
    #{registration.user_name} @ #{registration.event_name}
    - if policy(@registration).edit?
      = link_to 'Edit', edit_event_registration_path(@registration.event, @registration), class: 'btn btn-primary'
    - if policy(@registration).destroy?
      = link_to 'Delete', event_registration_path(@registration.event, @registration), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
%section.content
  .row
    .col-md-6
      .box
        .box-body
          %strong Email
          %p= mail_to registration.user_email
          %strong Lodging
          %p= registration.lodging_name
          %strong Registration Date
          %p= registration.created_at
          %strong Paid?
          %p= registration.paid?
          %strong Payment Adjustment
          %p= registration.payment_adjustment
          %strong Serving One?
          %p= registration.serving_one?
          %strong Medical Release Form?
          %p= registration.medical_release?
          %strong Background Check
          %p{class: registration.user_background_check_date_bg_class}= registration.user_background_check_date
          %strong Vehicle Capacity
          %p= registration.vehicle_seating_capacity
  .widget-footer
.row
  .col-md-12
