<div class="content">
  <div class="row">
    <div class="main-header">
      <h2>Registration - <%= @registration.user.name %></h2>
      <em><%= @registration.event.title %></em>
    </div>
  </div>
  <div class="row">
    <!-- event registration info -->
    <div class="col-md-6 col-sm-12">
      <div class="widget">
        <div class="widget-header">
          <h3><i class="fa fa-calendar-o"></i>Registration Details</h3>
        </div>
        <div class="widget-content">
          <p id="notice"><%= notice %></p>
          <div class="row">
            <div class="col-sm-4">
              <strong>Event:</strong>
            </div>
            <div class="col-sm-8">
              <%= @registration.event.title %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <strong>Saint:</strong>
            </div>
            <div class="col-sm-8">
              <%= @registration.user.name %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <strong>Registration Date</strong>
            </div>
            <div class="col-sm-8">
              <%= format_date(@registration.created_at) %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <strong>Paid?</strong>
            </div>
            <div class="col-sm-8">
              <%= @registration.has_been_paid %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <strong>Pmt Adjustment</strong>
            </div>
            <div class="col-sm-8">
              <%= @registration.payment_adjustment %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <strong>Serving One?</strong>
            </div>
            <div class="col-sm-8">
              <%= @registration.attend_as_serving_one %>
            </div>
          </div>
        </div>
        <div class="widget-footer">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Back', event_registrations_path(@registration.event), class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>
