
<div class="wrapper full-page-wrapper page-login text-center">

		<div class="inner-page">
		
			<div class="logo"><a href="index.html"><%=image_tag('kingadmin-logo.png', alt:'') %></a></div>
			<!--button type="button" class="btn btn-login-facebook"><span>Login via Facebook</span></button-->
			
			<!--div class="separator"><span>OR</span></div-->

			<div class="login-box center-block">
				<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal') do |f| %>
				<%= devise_error_messages! %>

					<p class="title">Use your username</p>
					<div class="form-group">
						<%= f.label :email, class: 'control-label sr-only' %>
						<div class="col-sm-12">
							<div class="input-group">
								<%= f.email_field :email, class: 'form-control', placeholder: 'email' %>	
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :password, class: 'control-label sr-only', placeholder: 'Password' %>
						<div class="col-sm-12">
							<div class="input-group">
								<%= f.password_field :password, placeholder: 'password', class: 'form-control' %>
								<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							</div>
						</div>
					</div>
					<div class="simple-checkbox">
						<% if devise_mapping.rememberable? -%>
							<%= f.label :remember_me, class: 'checkbox' do %>
								<%= f.check_box :remember_me %> Remember me next time
							<% end %>
						<% end %>
					</div>
					<%= content_tag(:button, type: :submit, class: 'btn btn-custom-primary btn-lg btn-block btn-login') do %>
						<i class="fa fa-arrow-circle-o-right"></i>
						Create User
					<% end %>

			<% end %>
				
				<div class="links">
					<%= render "devise/shared/links" %>
				</div>
			</div><!-- end login box div -->
		</div>
		<div class="push-sticky-footer"></div>
	</div>
