- @event.hospitalities.each  do |hosp|
  %tr{ id: "#{hosp.id}" }
    %td= hosp.name
    %td= hosp.min_capacity
    %td= hosp.max_capacity
    %td
      = collection_select(:event,
                          :localities,
                          @event.localities,
                          :id,
                          :city,
                          { include_blank: 'select',
                            selected: hosp.locality_id_before_type_cast },
                          remote: true)
