.content
  .main-header
    %h2 EventLodging Assignments
    %em
      event_lodging assingments for #{@event.title}
  .row
    .col-md-5
      .widget.widget-table
        .widget-header
          %h3
            %i.fa.fa-table>
            EventLodging Units
        .widget-content
          = form_for(@event, url: {                             |
            controller: 'events/event_lodging_assignments',       |
            action:     'assign_lodging_to_locality' },         |
            class:      'form-horizontal', remote: true) do |f| |
            .table-responsive
              %table#event_lodging_units.table.table-striped
                %thead
                  %tr
                    %td Lodging
                    %td Min
                    %td Max
                    %td Assign to
                %tbody
                  - @event.event_lodgings.each  do |hosp|
                    %tr{:id => "<haml_loud"}
                      "\#{hosp.id}" &gt;
                      %td= hosp.name
                      %td= hosp.min_capacity
                      %td= hosp.max_capacity
                      %td
                        = collection_select(                                           |
                          :event,                                                      |
                          :localities,                                                 |
                          @event.localities,                                           |
                          :id,                                                         |
                          :city,                                                       |
                          { include_blank: 'select',                                   |
                          selected: hosp.locality_id_before_type_cast }, remote: true) |
                        / TODO: why like this?
    .col-md-2
    .col-md-5
      .widget.widget-table
        .widget-header
          %h3
            %i.fa.fa-table>
            Participating Localities
        .widget-content
          %table.table.table-striped
            %thead
              %tr{:style => "font-weight: bold"}
                %td Locality
                %td Registered Saints
                %td Beds Allocated
            %tbody#participating_localities_content
              - @event.localities.each do |loc|
                %tr
                  %td= loc.city
                  %td= @stats["#{loc.city}"]['grand_total']
                  %td= @event.beds_assigned_to_locality[loc.city]
  / end row
  .row
    .col-md-5
      .widget.widget-table
        .widget-header
          %h3
            %i.fa.fa-table>
            Registered Saints
        .widget-content
          %select
          = form_for(@event,                                        |
                         url: {                                     |
              controller: 'events/event_lodging_assignments',         |
              action:     'assign_registration_user_to_event_lodging' |
            },                                                      |
            class: 'form-horizontal', remote: true) do |f|          |
            %table.table.table-striped
              %thead
                %tr{:style => "font: bold"}
                  %td Locality
                  %td
                  %td Name
              %tbody
                - @event.localities.each do |locality|
                  %tr{:id => "<haml_loud"}
                    "\#{locality.id}" &gt;
                    %td= locality.city
                    %td
                    %td
                      = collection_select(         |
                        :event,                    |
                        :registrations,            |
                        @event.registrations,      |
                        :id,                       |
                        :name,                     |
                        { include_blank: 'select', |
                        selected: 0 })             |
                    / TODO: select proper id
    .col-md-2
    .col-md-5
      .widget.widget-table
        .widget-header
          %h3
            %i.fa.fa-table>
            Assigned EventLodgings
        .widget-content
          %table.table.table-striped
            %thead
              %tr{:style => "font: bold"}
                %td Locality
                %td Name
            %tbody
              / TODO: Write code to display missing info
              - @event.event_lodging_assignments.each do |ha|
                %tr
                  %td [loc]
                  %td [name]
  / end row
  .row
    .col-md-12
      = link_to 'Back', @event, class: "btn btn-default"
= javascript_tag do
  window.eventEventLodgingAssignmentsURL = "#{j event_event_lodging_assignments_url}";
  window.currentEvent = "#{j @event.id.to_s}";
