.login-box.center-block
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    %p.title Reset Password
    .form-group
      = f.label :email, class: 'control-label sr-only'
      .col-sm-12
        .input-group
          = f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter Password"
          %span.input-group-addon
            %i.fa.fa-envelope
    %br/
    = content_tag(:button, type: :submit, class: 'btn btn-custom-secondary btn-lg btn-block') do
      %i.fa.fa-arrow-circle-o-right
      Send me reset password instructions
  %br/
  .links
    = render "devise/shared/links"
