  %fieldset
  %legend General Information
  / Name
  .form-group
    = f.label :name, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, autofocus: true, class: 'form-control'
  / Gender
  .form-group
    = f.label :gender, class: 'col-md-2 control-label'
    .col-md-10
      = f.select :gender, User::GENDER, {include_blank: true}, {class: 'form-control'}
  / Age
  .form-group
    = f.label :age, class: 'col-md-2 control-label'
    .col-md-10
      = f.select :age, User::AGE, {include_blank: true}, {class: 'form-control'}
  / Grade
  .form-group
    = f.label :grade, class: 'col-md-2 control-label'
    .col-md-10
      = f.select :grade, User::GRADE, {include_blank: true}, {class: 'form-control'}
%fieldset
  %legend Credentials
  / Email
  .form-group
    = f.label :email, class: 'col-md-2 control-label'
    .col-md-10
      = f.email_field :email, class: 'form-control'
  / Password
  .form-group
    = f.label :password, class: 'col-md-2 control-label'
    .col-md-10
      = f.password_field :password, class: 'form-control'
