= form_for @lodging, class: 'form-horizontal' do |f|
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, autofocus: true, class: 'form-control'
  .form-group
    = f.label :location, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select :location_id, policy_scope(Location.all), :id, :name, {prompt: true}, {class: 'form-control'}
  .form-group
    = f.label :lodging_type, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :lodging_type, LodgingDecorator.lodging_types, {}, {class: 'form-control select'}
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :min_capacity, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :min_capacity, class: 'form-control'
  .form-group
    = f.label :max_capacity, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :max_capacity, class: 'form-control'
  .form-group
    = f.submit "Submit", class: 'btn btn-primary pull-right'
