= form_for(@lodging, class: 'form-horizontal') do |f|
  - if @lodging.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissable
      %h4
        %strong= pluralize(@lodging.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @lodging.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend General Information
    .form-group
      = f.label :name, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Enter a name"
    %br/
    %br/
    .form-group
      = f.label :lodging_type, class: 'col-md-2 control-label'
      .col-md-10
        = f.select :lodging_type,                                                      |
          Lodging::LODGING_TYPE.invert,                                                |
          options={placeholder: "Type"}, html_options={ class: 'form-control select' } |
    %br/
    %br/
    .form-group
      = f.label :locality_id, class: 'col-md-2 control-label'
      .col-md-10
        = f.collection_select(:locality_id, Locality.all, :id, :city, {include_blank: true}, {class: 'form-control'})
        / %= link_to "Add a locality", new_locality_path, class: 'pull-right' %
    %br/
    %br/
    = fields_for :contact_person, @lodging.contact_person do |cp|
      .form-group
        = cp.label :contact_person, class: 'col-md-2 control-label'
        .col-md-10
          = cp.collection_select(:id, filtered_contact_person_collection(@lodging.contact_person), :id, :name, { include_blank: true }, { class: 'form-control' })
          / %= link_to "Add user", new_user_path, class: 'pull-right' %
        %br/
    .form-group
      = f.label :min_capacity, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :min_capacity, autofocus: true, class: 'form-control', placeholder: "How many saints?"
    .form-group
      = f.label :max_capacity, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :max_capacity, autofocus: true, class: 'form-control', placeholder: "How many saints?"
    %br/
    %br/
  %fieldset
    %legend Address Information
    .form-group
      = f.label :address1, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :address1, class: 'form-control', placeholder: "Enter an address"
    .form-group
      = f.label :address2, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :address2, class: 'form-control' ""
    .form-group
      = f.label :city, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :city, class: 'form-control', placeholder: "Enter a city"
    .form-group
      = f.label :state_abbrv, 'State', class: 'col-md-2 control-label'
      .col-md-10
        = f.select :state_abbrv, Location::STATE_LIST, {include_blank: true, selected: 'CA'}, {class: 'form-control'}
    .form-group
      = f.label :zipcode, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :zipcode, class: 'form-control', maxlength: 5, placeholder: "Enter a zipcode"
    .actions
      .form-group
        .col-md-12
          %span.pull-right
            = f.submit "Submit", class: 'btn btn-primary'
            = link_to 'Back', lodgings_path, class: 'btn btn-default'
        %br/
