<% event.hospitalities.each do |hosp| %>
  <tr id="event_hosp_<%= hosp.id %>" class="odd">
    <td class=" sorting_1">
      <!-- hosp name -->
      <%= hosp.name %>

    </td>
    <td class=" ">
      <!-- Hosp. contact home phone -->
      <%= hosp.contact_person_home_phone %>

    </td>
    <td class=" ">
      <!-- Hosp. contact cell -->
      <%= hosp.contact_person_cell_phone %>

    </td>
    <td class=" ">
      <!-- Hosp. address -->
      <%= hosp.address %>

    </td>
    <td class=" ">
      <!-- min guests -->
      <%= hosp.display_min_capacity %>

    </td> 
    <td class=" ">
      <!-- max guests -->
      <%= hosp.display_max_capacity %>

    </td>
    <td class=" ">
      <!-- assigned guests -->
       [--] 

    </td> 
    <td class=" ">
      <%= link_to 'remove', hosp_remove_path(id: hosp, event_id: event), method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
    </td>
  </tr>
<% end %>
