- event.hospitalities.each do |hosp| lodging = hosp.lodging
  %tr.odd{:id => "event_hospitalities_#{hosp.id}"}
    %td.sorting_1
      / hosp name
      = lodging.name
    %td
      / Contact home phone
      = format_phone_number(lodging.contact_person_home_phone)
    %td
      / Contact cell
      = format_phone_number(lodging.contact_person_cell_phone)
    %td
      / Address
      = full_address(lodging,{two_lines: true})
    %td
      / Min / Max guests
      = lodging.display_min_capacity
      \/ #{lodging.display_max_capacity}
    %td
      = hosp.locality_city
    %td
      = hosp.registrations.count
