<div class="content">
  <div class="main-header">
    <h2>Lodgings</H2>
    <em>list of available lodging locations for conferences and retreats</em>
  </div>

  <div class="col-md-12">
    <div class="widget widget-table">
      <div class="widget-header">
        <h3><i class="fa fa-table"></i></h3>
      </div>
      <div class="widget-content">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr style="font: bold">
                <th>Name</th>
                <th>Type</th>
                <th>Contact Person</th>
                <th>Locality</th>
                <th>Max Cap.</th>
                <th>Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <% if @lodgings.all.count > 0 %>
              <% @lodgings.each do |lodging| %>
              <tr>
              <td><%= link_to lodging.name, lodging %></td>
              <td><%= lodging.lodging_type %></td>
              <td><%= contact_person_name(lodging) %></td>
              <td><%= Locality.find(lodging.locality_id).city %></td> 
              <td><%= lodging.max_capacity %></td> 
              <td><%= lodging.display_address_in_address_block_format %></td>

              <td><%= link_to 'Edit', edit_lodging_path(lodging) %>&nbsp;
                <!--%= link_to 'Delete',event_lodging_path(lodging), method: :delete, data: { confirm: 'Are you sure?' } %-->
              </td>
            </tr>
          <% end %>
          <% else %>
              <tr><td colspan=7><center>No Lodgings in the database...</center></td></tr>
          <% end %>
            <tbody>
          </table>
        </div>
        <%= link_to 'Back', dashboard_index_path, class: 'btn btn-default' %>
        <%= link_to new_lodging_path, class: 'btn btn-primary' do %>
          <%= content_tag(:i, '', class: "fa fa-plus-square") %>
        New Lodging
      <% end %>
      </div>
    </div>
  </div>
</div>
