.content
  .main-header
    %h2 Lodgings
    %em list of available lodging locations for conferences and retreats
  .col-md-12
    .widget.widget-table
      .widget-header
        %h3
          %i.fa.fa-table
      .widget-content
        .table-responsive
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %tr{:style => "font: bold"}
                %th Name
                %th Type
                %th Location
                %th Max Capacity
                %th
            %tbody
              - @lodgings.each do |lodging|
                %tr
                  %td= link_to lodging.name, lodging
                  %td= lodging.lodging_type
                  %td= lodging.location_name
                  %td= lodging.max_capacity
                  %td
                    - if policy(lodging).edit?
                      = link_to 'Edit', edit_lodging_path(lodging)
                    - if policy(lodging).destroy?
                      = link_to 'Delete', lodging_path(lodging), method: :delete, data: { confirm: 'Are you sure?' }
              - if @lodgings.empty?
                %tr
                  %td{:colspan => "7"}
                    %center No lodgings in the system.
        %tbody
        = link_to 'Back', dashboard_index_path, class: 'btn btn-default'
        = link_to new_lodging_path, class: 'btn btn-primary' do
          = content_tag(:i, '', class: "fa fa-plus-square")
          New Lodging
