%section.content-header
  %h1
    = lodging.name
    %a.btn.btn-flat.btn-primary{href: edit_lodging_path(@lodging)} Edit
    %a.btn.btn-flat.btn-danger{href: lodging_path(@lodging), data: {confirm: 'Are you sure?', method: :delete}, ref: 'nofollow'} Delete
%section.content
  .row
    .col-md-6
      .box
        .box-body
          %strong Location
          %p= lodging.location_name
          %strong Type
          %p= lodging.lodging_type
          %strong Description
          %p= lodging.description
          %strong Min Capacity
          %p= lodging.min_capacity
          %strong Max Capacity
          %p= lodging.max_capacity
