- if @location.errors.any?
  #error_explanation.alert.alert-danger.alert-dismissable
    %h4
      %strong
        = pluralize(@location.errors.count, "error")
       prohibited this location from being saved:
    %ul
      - @location.errors.full_messages.each do |msg|
        %li= msg
.form-group
  = f.label :name, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :name, class: 'form-control',
      placeholder: "Enter the location name"
.form-group
  = f.label :type, class: 'col-md-2 control-label'
  .col-md-10
    = f.select :location_type, Location.location_types.keys,
      options={prompt: "Location Type"},
      html_options={class: 'form-control select'}
.form-group
  = f.label :description, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :description, class: 'form-control',
      placeholder: "Enter a description"
.form-group
  = f.label :address1, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :address1, class: 'form-control',
      placeholder: "Enter an address"
.form-group
  = f.label :address2, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :address2, class: 'form-control' ""
.form-group
  = f.label :city, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :city, class: 'form-control', placeholder: "Enter a city"
.form-group
  = f.label :state, 'State', class: 'col-md-2 control-label'
  .col-md-10
    = f.select :state, Location::STATE_LIST,
      {include_blank: true, selected: 'CA'}, {class: 'form-control'}
.form-group
  = f.label :zipcode, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :zipcode, class: 'form-control', maxlength: 5,
      placeholder: "Enter a zipcode"
.form-group
  = f.label :max_capacity, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :max_capacity, class: 'form-control',
      placeholder: "Max capacity at location (persons)"
