= form_for @location, class: 'form-horizontal' do |f|
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :type, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :location_type, LocationDecorator.location_types, {}, {class: 'form-control select'}
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :description, class: 'form-control'
  .form-group
    = f.label "Address", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :address1, class: 'form-control', placeholder: "Street 1"
  .form-group
    = f.label " ", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :address2, class: 'form-control', placeholder: "Street 2"
  .form-group
    = f.label " ", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :city, class: 'form-control', placeholder: "City"
  .form-group
    = f.label " ", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :state, class: 'col-sm-2 form-control', placeholder: "State"
  .form-group
    = f.label " ", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :zipcode, class: 'form-control', maxlength: 5, placeholder: "Zip"
  .form-group
    = f.label :max_capacity, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :max_capacity, class: 'form-control', placeholder: "number of persons"
  .form-group
    = f.submit "Submit", class: 'btn btn-primary pull-right'
