<h1>New Location</h1>

<%= form_for ([@location, @address]) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :addressline1 %>
	<%= f.text_field :addressline1 %>

	<%= f.submit 'Create Location' %>
<% end %>

<%= link_to 'Back', locations_path %>
