<div class="content">
  <div class="row">
    <div class="main-header">
      <h2><%= @location.name %></h2>
      <em>Possible location for an event.</em>
    </div>
  </div>
  <div class="row">
    <!-- location info -->
    <div class="col-md-6 col-sm-12">
      <div class="widget">
        <div class="widget-header">
          <h3><i class="fa fa-calendar-o"></i>Location Details</h3>
        </div>
        <div class="widget-content">
          <p id="notice"><%= notice %></p>
          <div class="row">
            <div class="col-sm-4">
              <strong>Name:</strong>
            </div>
            <div class="col-sm-8">
              <%= @location.name %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <strong>Description:</strong>
            </div>
            <div class="col-sm-8">
              <%= @location.description %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <strong>Address:</strong>
            </div>
            <div class="col-sm-8">
              <%= @location.address1 %> <%= @location.address2 %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <strong>City, State Zip:</strong>
            </div>
            <div class="col-sm-8">
              <%= @location.city %>, <%= @location.state_abbrv %>  <%= @location.zipcode %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <strong>Max capacity:</strong>
            </div>
            <div class="col-sm-8">
              <%= @location.max_capacity %>
            </div>
          </div>
        </div>
        <div class="widget-footer">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Edit', edit_location_path(@location), class: 'btn btn-primary' %>
          <%= link_to 'Back', locations_path, class: 'btn btn-default' %>
          <%= link_to 'Delete', @location, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
