.content
  .row
    .main-header
      %h2= @location.name
      %em Possible location for an event.
  .row
    .col-md-6.col-sm-12
      .widget
        .widget-header
          %h3
            %i.fa.fa-calendar-o>
            Details
        .widget-content
          .row
            .col-sm-4
              %strong Name:
            .col-sm-8
              = @location.name
          .row
            .col-sm-4
              %strong Type:
            .col-sm-8
              = @location.location_type
          .row
            .col-sm-4
              %strong Description:
            .col-sm-8
              = @location.description
          .row
            .col-sm-4
              %strong Address:
            .col-sm-8
              = @location.address1
              = @location.address2
          .row
            .col-sm-4
              %strong City, State Zip:
            .col-sm-8
              = @location.city
              , #{@location.state}  #{@location.zipcode}
          .row
            .col-sm-4
              %strong Max capacity:
            .col-sm-8
              = @location.max_capacity
        .panel-footer
          - if policy(@location).edit?
            = link_to 'Edit', edit_location_path(@location), class: 'btn btn-primary'
          - if policy(@location).destroy?
            = link_to 'Delete', @location, method: :delete,
              data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
  .row
    .col-md-12
      .widget.widget-table
        .widget-header
          %h3
            %i.fa.fa-table
            Lodgings
        .widget-content
          = render 'table'
          - if @lodgings.empty?
            %tr
              %td{:colspan => "7"}
                %center No lodgings at this location.
        .panel-footer
          = link_to new_lodging_path(location_id: @location.id), class: 'btn btn-primary' do
            = content_tag(:i, '', class: "fa fa-plus-square")
            New Lodging
