<!DOCTYPE html>
<html>
<head>
  <title>Conference Registration</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul id="bob" class="nav nav-tabs">
			<li><%= link_to "Home", root_path %></li>
		</ul>

		<%= yield %>
	</div>

</body>
</html>
