%fieldset
  %legend Administrative Info
  .form-group
    = f.label :role, "User Role", class: 'col-md-2 control-label'
    .col-md-10
      - if policy(@user).sudo?
        = f.select :role, policy(@user).authorized_roles, {include_blank: true }, {class: 'form-control'}
      - else
        = @user.role
  .form-group
    = f.label :locality_id, class: 'col-md-2 control-label'
    .col-md-10
      .input-group
        - if policy(@user).sudo?
          = f.collection_select(:locality_id, Locality.all, :id, :city, { include_blank: 'Select locality' }, { class: 'form-control' })
          %span.input-group-addon
            %i.fa.fa-user
        - else
          = @user.locality_city
  .form-group
    = f.label :email, class: 'col-md-2 control-label'
    .col-md-10
      = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :password, class: 'col-md-2 control-label'
    .col-md-10
      .input-group
        = f.password_field :password, class: 'form-control', placeholder: "Enter password"
        %span.input-group-addon
          %i.fa.fa-user
  .form-group
    = f.label :password_confirmation, class: 'col-md-2 control-label'
    .col-md-10
      .input-group
        = f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter password confirmation"
        %span.input-group-addon
          %i.fa.fa-user
%fieldset
  %legend General Information
  .form-group
    = f.label :name, 'Name', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, autofocus: true, class: 'form-control'
  .form-group
    = f.label :gender, '', class: 'col-md-2 control-label'
    .col-md-10
      = f.select :gender, User.genders.keys, { include_blank: 'Selet your gender' }, { class: 'form-control' }
  .form-group
    = f.label :age, '', class: 'col-md-2 control-label'
    .col-md-10
      = f.select :age, User.ages.keys, { include_blank: 'Select your age' }, { class: 'form-control' }
  .form-group
    = f.label :grade, '', class: 'col-md-2 control-label'
    .col-md-10
      = f.select :grade, User.grades.keys, { include_blank: 'Select your grade' }, {class: 'form-control'}
  .form-group
    = f.label :home_phone, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :home_phone, autofocus: true, class: 'form-control'
  .form-group
    = f.label :cell_phone, class: 'col-md-2 control-label'
    .col-md-10
      = f.phone_field :cell_phone, autofocus: true, class: 'form-control'
  .form-group
    = f.label :work_phone, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :work_phone, autofocus: true, class: 'form-control'
  .form-group
    = f.label :birthday, class: 'col-md-2 control-label'
    .col-md-10
      .input-group.input-append.date
        %span.input-group-addon
          %i.fa.fa-calendar
        = f.text_field :birthday, class: 'form-control'
  .form-group
    = f.label :background_check_date, class: 'col-md-2 control-label'
    .col-md-10
      - if policy(User).sudo?
        .input-group.input-append.date
          %span.input-group-addon
            %i.fa.fa-calendar
          = f.text_field :background_check_date, class: 'form-control', placeholder: "Last background check"
      - else
        = format_date(@user.background_check_date)
    %br/
