.content
  .main-header
    %h2= @user.name
    %em Update the user profile
  %br/
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .col-md-8
    .widget
      .widget-header
        %h3
          %i.fa.fa-edit
      .widget-content
        = form_for(resource, as: resource_name, url: registration_path(resource_name, id: @user.id), html: { method: :put }) do |f|
          = devise_error_messages!
          = render "form", f:f
          .widget-footer
            = f.submit "Update", class: 'btn btn-success'
            = link_to "Back", :back, class: 'btn btn-default'
        %fieldset
          %legend Delete account
          .col-md-12
            %br/
            %span
              = button_to "Delete account", registration_path(resource_name, id: @user.id), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'
