.content
  .main-header
    %h2 System Accounts
    %em list of users accounts in the system
  .col-md-12
    .widget.widget-table
      .widget-header
        %h3
          %i.fa.fa-table
      .widget-content
        .table-responsive
          %table.table.table-bordered.table-hover
            %thead
              %tr{:style => "font: bold"}
                %th Name (Gender)
                %th Role
                %th Gender
                %th Email
                %th Age
                %th Grade
                %th Locality
                %th{:style => "width: 150px"} Phone
                %th Last B.C.
                %th Last Sign in
                %th
            %tbody
              - if @users.count > 0
                - @users.each do |user|
                  %tr{class: "#{user.background_check_date_row_class}"}
                    %td= link_to user.name, user_path(user)
                    %td= user.role.capitalize
                    %td= user.gender.to_s[0].capitalize
                    %td= user.email
                    %td= user.age.capitalize
                    %td= user.grade.capitalize
                    %td= user.locality_city.capitalize
                    %td
                      C: #{format_phone_number(user.cell_phone)}
                      %br/
                      H: #{format_phone_number(user.home_phone)}
                      %br/
                      W: #{format_phone_number(user.work_phone)}
                    %td= format_date(user.background_check_date)
                    %td= format_date(user.last_sign_in_at)
                    %td
                      - if policy(user).edit?
                        = link_to 'Edit', edit_user_registration_path(user)
                      - if policy(user).destroy? and user != current_user
                        = link_to 'Delete', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'}
              - else
                %tr
                  %td{:colspan => "9"}
                    %center No Users in the database...
        = link_to 'Back', dashboard_index_path, class: 'btn btn-default'
        = link_to new_admin_user_path, class: 'btn btn-primary' do
          = content_tag(:i, '', class: "fa fa-plus-square")
          New User
