%section.content-header
  %h1
    = user.name
    - if policy(@user).edit?
      %a.btn.btn-primary{href: edit_user_registration_path(@user)} Edit
    - if policy(@user).destroy?
      - if current_user == @user
        %a.btn.btn-danger{href: registration_path(resource_name, id: @user.id), data: {confirm: 'Are you sure?', method: :delete}, ref: 'nofollow'} Delete My Account
      - else
        %a.btn.btn-danger{href: admin_user_path(@user), data: {confirm: 'Are you sure?', method: :delete}, ref: 'nofollow'} Delete
        = link_to "Delete", admin_user_path(@user), method: :delete, data: {confirm: "Are you sure?"},  class: 'btn btn-danger'
%section.content
  .row
    .col-md-6
      .box
        .box-body
          %strong Name
          %p= user.name
          %strong Email
          %p= user.email
          %strong Role
          %p= user.role
          %strong Gender
          %p= user.gender
          %strong Age
          %p= user.age
          %strong Grade
          %p= user.grade
          %strong Birthday
          %p= user.birthday
          %strong Locality
          %p= user.locality_city
          %strong Cell Phone
          %p= user.cell_phone
          %strong Home phone
          %p= user.home_phone
          %strong Work Phone
          %p= user.work_phone
          -if @user.needs_background_check?
            %strong Last Background Check
            %p{class: user.background_check_date_bg_class}
              = user.background_check_date_with_warning
          %strong Last Sign In
          %p= user.last_sign_in_at
